.row.justify-content-center
  = paginate @parsed_articles,
          theme: 'prev_next_theme',
          window: 0,
          remote: true,
          outer_window: 0,
          params: { controller: 'main', action: 'index' }
