meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"

meta name="description" content="Новостной агрегатор города Стерлитамак, заголовки новостей и ничего лишнего"
meta name='keywords' content='новости Стерлитамака, Стерлитамак, новости'

meta property='og:type' content='website'
meta property='og:title' content='Strnewster'
meta property='og:description' content='Все новости Стерлитамака в одном месте'
meta property='og:locale' content='ru_RU'
