header {
  .navbar {
    margin-bottom: 1rem;
  }
}

.resources {
  .item {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.find-form {
  margin-bottom: 1rem;
}
