@import "bootstrap";
@import "custom";
@import "bootstrap-datepicker3";

header {
  h1 {
    a, a:hover {
      color: $gray-dark;
      text-decoration: none;
    }
  }
}

.parsed_article_list {
  article {
    margin-bottom: 20px;
  }
  .source_info {
    font-size: .75rem;
  }

  .source-title {

  }
}
